:root {
  /* ----------- Colors */
  /* Primary */
  --Moderate-violet: 263, 55%, 52%;
  --Very-dark-grayish-blue: 217, 19%, 35%;
  --Very-dark-blackish-blue: 219, 29%, 14%;
  --White: 0, 0%, 100%;

  /* Neutral */
  --Light-gray: 0, 0%, 81%;
  --Light-grayish-blue: 210, 46%, 95%;

  /* ------------ Fonts */
  --ff-snas: "Barlow Semi Condensed", Arial, sans-serif;
}

/* ------------------------------------------------------------------Global / Resets
---------------------------------------------------------------------------------------------------  */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
}

/* ------------------------------------------------------------------ Main
---------------------------------------------------------------------------------------------------  */
